<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Savings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/log_savings.css' %}"> 
</head>
<body>
    <div class="container my-5">
        <h2>Log Savings for: {{ goal.name }}</h2>
        <form method="post">
            {% csrf_token %}
            {% load bootstrap4 %} 
            {% bootstrap_form form %} 
            <button type="submit" class="btn btn-success">Log Savings</button>
        </form>
    </div>
</body>
</html>