<!DOCTYPE html>
<html>
<head>
  <title>My Budget</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/view_budget.css' %}">
  <script>hljs.highlightAll();</script>
</head>
<body>
  <div class="container">
    <h1>My Budget</h1>

    <div class="budget-form">
      <h2>Set Your Budget:</h2> 
      <form method="post"> 
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Update Budget</button>
      </form>
    </div>

    <h2>Overview</h2>
    <div>
      Total Budget: ${{ budget.total_amount }}
    </div>
    <div>
      Total Income: ${{ total_income }}
    </div>
    <div>
      Total Expenses: ${{ total_expenses }}
    </div>
    <div>
      Balance: ${{ balance }}
    </div>
    <div class="budget-difference 
         {% if budget_difference >= 0 %}positive{% else %}negative{% endif %}">
      Budget Difference: ${{ budget_difference }} 
    </div>
</body>
</html>
